# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Chroma Vector Database
vector_store/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/